<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.derbingle.workflow.changecase</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2511F009-F9C1-43D7-87D5-6CE830C83BE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28C7BBD8-A574-43E1-B90B-5F9E97EF6FF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28C7BBD8-A574-43E1-B90B-5F9E97EF6FF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A038A4C-D9FE-4AEA-99AA-C92AE1761F29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A519BCF4-F0D8-402F-902D-C5E4F064E44A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2511F009-F9C1-43D7-87D5-6CE830C83BE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>derBingle</string>
	<key>description</key>
	<string>Change the clipboard text to a different case</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Change Case</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28C7BBD8-A574-43E1-B90B-5F9E97EF6FF7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8A038A4C-D9FE-4AEA-99AA-C92AE1761F29</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Title Case","arg":"title","subtitle":"Five Passengers Set Sail That Day for a Three Hour Tour"},{"title":"Upper","arg":"upper","subtitle":"FIVE PASSENGERS SET SAIL THAT DAY FOR A THREE HOUR TOUR"},{"title":"Lower","arg":"lower","subtitle":"five passengers set sail that day for a three hour tour"},{"title":"Camel","arg":"camel","subtitle":"aThreeHourTour"},{"title":"Snake","arg":"snake","subtitle":"a_three_hour_tour"},{"title":"Kebab","arg":"kebab","subtitle":"a-three-hour-tour"}]</string>
				<key>keyword</key>
				<string>case</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>A519BCF4-F0D8-402F-902D-C5E4F064E44A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>case</key>
					<string>{query}</string>
					<key>text</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2511F009-F9C1-43D7-87D5-6CE830C83BE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2511F009-F9C1-43D7-87D5-6CE830C83BE7</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>28C7BBD8-A574-43E1-B90B-5F9E97EF6FF7</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>8A038A4C-D9FE-4AEA-99AA-C92AE1761F29</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>A519BCF4-F0D8-402F-902D-C5E4F064E44A</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://derBingle.blog/</string>
</dict>
</plist>
